* {
  margin: 0px;
  padding:0px;
}

#logo{
height: 100px;
    width: 100px;
    background-color: powderblue;
}

#nav_container {
    font-family: verdana;
    font-size: 25px;
	list-style-type:none;
	margin:0px;
	padding:0px;
	
	border: 1px solid #555;
	width:800px;
	overflow:hidden;
	background-color:#999;
}
li {
    float: left;	
	border-right:1px solid #000
	margin:0px;
	padding:0px;
	
}


li a {
   
    display: block;
    color: white;
    text-align: center;
	padding:16px;
	text-decoration: none;	
    
}
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
color: white;
}

body {
    background-color: lightblue;
}